---
Checks:
  - -*
  - bugprone-*
  - concurrency-*
  - cppcoreguidelines-*
  - misc-*
  - modernize-*
  - performance-*
  - readability-*
  # Suppressions
  - -bugprone-easily-swappable-parameters
  - -misc-include-cleaner
  - -modernize-use-nodiscard
  - -modernize-use-trailing-return-type
  - -performance-enum-size
  - -readability-convert-member-functions-to-static
  - -readability-identifier-length
  - -readability-isolate-declaration
  - -readability-magic-numbers
  - -readability-named-parameter
FormatStyle: file
HeaderFileExtensions: ["h", "hpp"]
ImplementationFileExtensions: ["c", "cpp"]
CheckOptions:
  cppcoreguidelines-avoid-non-const-global-variables.AllowInternalLinkage: true
  misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic: true
  readability-implicit-bool-conversion.AllowPointerConditions: true
SystemHeaders:   false
WarningsAsErrors: ""
...
