---
Checks:
  - -*
  - bugprone-*
  - readability-*
  # Suppressions
  - -bugprone-easily-swappable-parameters
  - -readability-convert-member-functions-to-static
  - -readability-identifier-length
  - -readability-isolate-declaration
  - -readability-magic-numbers
  - -readability-named-parameter
FormatStyle: file
HeaderFileExtensions: ["h", "hpp"]
ImplementationFileExtensions: ["c", "cpp"]
CheckOptions:
  readability-implicit-bool-conversion.AllowPointerConditions: true
SystemHeaders:   false
WarningsAsErrors: ""
...
